.custom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .8);
    width: 100%;
    height: 100vh;
    z-index: 9;
    display: none;
}

.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 45vh;
    z-index: 10;
    background-color: white;
    padding: 5rem;
    border-radius: 2rem;
    display: none;

    @include responsive(tab-port){
        width: 95%;
    }

    @include responsive(tab-land){
        width: 95%;
    }

    @include responsive(phone){
        width: 95%;
    }

    div {
        font-size: 3rem;
        float: right;
        color: black;
        font-weight: 700;
        margin-bottom: 2rem;
        cursor: pointer;
        display: inline-block;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.custom-open {
    display: block !important;
}